@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body h1{
    font-family: 'Merriweather', serif;
}

/* Header style start here  */

header{
    width: 100%;

}

.head__contener{
    width: 80%;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;

}

.head__tittel{
    width: 100%;
    text-align: center;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.3)), url('../imges/banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 110px 0;
    border-radius: 10px;
    color: #fff;
}

.head__tittel p{
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: 400;
    font-family: 'Merriweather', serif;
}

.head__tittel h1{
    font-size: 72px;
    font-weight: 900;
}

/* Header style end here  */


/* Main style start here  */

/* Categories Contener start  */

.categories__contener{
    width: 50%;
    margin: 5% auto;
    text-align: center;
}

.categories h1{
    font-size: 88px;
    font-weight: 900;
    margin-bottom: 20px;
    color: #F00;
}

.categories p{
    font-size: 24px;
    font-weight: 500;
    color: #F00;
}

.categories h3{
    font-size: 48px;
    font-weight: 700;
    margin: 10px 0;
}

.categories img{
    width: 100%;
}

/* Categories Contener end  */
/* Party contener start here  */

.party__contener{
    width: 80%;
    margin: 0 auto 5%;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url('../imges/vectorrr.png');
    background-position: center;
    background-size: cover;
}

.party__content{
    padding: 80px;
    color: #fff;
    display: flex;
    border-radius: 10px;
}

.party__tittel{
    width: 70%;
}

.party__tittel h1{
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    margin-top: 20px;
}

.party__tittel p{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 20px 0;
}

.party__tittel button{
    padding: 10px 20px;
    border: none;
    background-color: #F00;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.party__img{
    width: 30%;
}

.party__img img{
    width: 100%;

}
/* Party contener end here  */
/* Gift contener start here  */

.gift__contener{
    width: 80%;
    margin: 0 auto 5%;
}

.gift__content{
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
}

.coming__soon{
    margin-top: 50px;
}

.coming__soon p{
    font-size: 24px;
    font-weight: 500;
    color: #F00;
}

.coming__soon h1{
    font-size: 45px;
    font-weight: 900;
    margin: 20px 0;
}

.coming__soon span{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);;
}

.img{
    padding: 30px;
    border: 10px solid #F00;
    border-radius: 50%;
}

.event{
    margin: 50px 0 0 30px;
}

.event h1{
    color: #F00;
    font-size: 48px;
    font-weight: 700;
}

.event p{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.60);
    margin-top: 20px;
}

.event img{
    margin-top: 50px;
}

/* Gift contener end here  */
/* Portfolio contener start here  */

.portfolio__contener{
    width: 80%;
    margin: 0 auto 5%;
}

.portfolio__content h5{
    font-size: 24px;
    font-weight: 500px;
    color: #F00;
}

.portfolio__content h1{
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;
}

.portfolio__content p{
    font-size: 20px;
    font-weight: 400px;
    color: rgba(7, 2, 17, 0.60);
    margin-bottom: 50px;
}

.portfolio{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
}

.portfolio .port__img{
    width: 32%;
}

.port__img img{
    width: 100%;
    border-radius: 10px;
    
}

.port__img:hover{
    box-shadow: 0 0 15px 0 black;
    border-radius: 15px;
    overflow: hidden;
}

/* Portfolio contener end here  */

/* Main style end here  */


