@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}

/* Header style start here  */

header{
    width: 100%;

}

.head__contener{
    width: 80%;
    margin: 20px auto 0;
    padding: 200px 0;
    background-image: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.3)), url('../imges/banner.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: center;

}

.head__tittel{
    text-align: center;
}

.head__tittel p{
    font-size: 25px;
    margin-bottom: 30px;
    font-weight: 400;
}

.head__tittel h1{
    font-size: 65px;
    font-weight: 900;
}

/* Header style end here  */